<h1 class="usernameHead"><%= @user.name %></h1>
<div class="userLinksWrap">
<% if @user == current_user %>
	<%= link_to "Edit", edit_user_path(@user), class: "userlink", id: "editLink", method: :get %>
	<%= link_to "More Drinkers", users_path, class: "userlink", id: "moreLink" %>
	<% if @user.store_id %>
		<%= link_to "Your Brewery", store_path(@user.store_id), class: "userlink", id: "brewLink", method: :get %>
	<% end %>
<% end %>
</div>