
<div class="sideMenu">
	<ul class="menuListing">
		<% select.each do |m,v| %>
			<li id="<%= m %>li" class="<%= v ? 'menuSelected' : ''%>">
				<% if m.to_s == 'ratings' %>
					<%= link_to "#{m.capitalize}", @user, class: "menuLink" %>
				<% else %>
					<%= link_to "#{m.capitalize}", "/users/#{@user.id}/#{m}", class: "menuLink", method: :get %>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>