<% provide(:title, @user.name) %>

<div class="profileContainer clearfix">
	
	<div class="leftCnter">
		<%= render 'user_left_pane', select: {ratings: true, photos: false} %>
	</div>
	
	<div class="rightCnter">
		<%= render 'user_right_pane' %>
		<%= render 'user_feed' %>
	</div>
</div>