<div class="bodyHead clearfix">
	<h1 class="bodyTitle">Foodtruck Maps</h1>
	
	<ul class="bodyMenu">
		<li><a href="#">Los Angeles</a></li>
		<li><a href="#">San Francisco</a></li>
		<li><a href="#">San Jose</a></li>
		<li><a href="#">Portland</a></li>
		<li><a href="#">Denver</a></li>
		<li><a href="#">Chicago</a></li>
	</ul>
</div>

<div id="mapWrap">
	<div id="gmap"></div>
</div>

