@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin triple_border{
	border: 1px solid;
	border-color: #d7d9dd #d1d3d8 #c3c4c9;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}

.debug_dump{
	clear: both;
	width: 90%;
	padding: 10px;
	margin: 45px auto;
	border: 1px solid #c7c7c7;
	border-radius: 3px;
	@include box_sizing;
}

.profileContainer{
	width: 90%;
	position: relative;
	margin: 0 auto;
}

.leftCnter{
	float: left;
	width: 25%;
	@include box_sizing;
}

.rightCnter{
	float: left;
	width: 75%;
	padding: 0 0 0 10px;
	@include box_sizing;
}

.profilePicWrap{
	width: 190px;
	height: 190px;
	padding: 5px;
	@include triple_border;
	background-color: #ffffff;
}

.profilePic{
	display: block;
	width: 190px;
	height: 190px;
}

.usernameHead{
	margin: 0;
}

/*USER SIGN UP*/

.signUpWrap, .loginWrap, .editWrap{
	position: relative;
	width: 300px;
}

.signUpWrap input, .loginWrap input, .editWrap input{
	width: 100%;
	display: block;
    margin: 0 0 5px;
    padding: 5px;
    background: #fafafa;
    background: rgba(250,250,249,0.9);
    border: 1px solid #bbb;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
    font-size: 14px;
    line-height: 1.28571em;
    line-height: 1.29em;
	@include box_sizing
}

#session_remember_me{
 width: auto;
 display: inline;
 line-height: inherit;
 margin-right: 5px;
}

.signUpWrap label, .loginWrap label, .editWrap label{
	font-weight: bold;
}

.signUpWrap .postBtn, .loginWrap .loginBtn, .editWrap .editBtn{
	margin-top: 20px;
	color: white;
    border-color: #861202;
    background: #d90007;
    background: -webkit-linear-gradient(#d90007, #c91400);
    background: linear-gradient(#d90007, #c91400);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.errorMsgList{
	color: red;
}

.success{
 	width: 90%;
	margin: 0 auto;
	background-color: #DFF0D9;
	border-radius: 3px;
	border: 1px solid #A9EF8F;
	text-align: center;
	position: relative;
	padding: 10px;
	margin-bottom: 10px;
	color: #006e2e;
	@include box_sizing;
}

.danger{
	width: 90%;
	margin: 0 auto;
	background-color: #F6DCDD;
	border-radius: 3px;
	border: 1px solid #cc0000;
	text-align: center;
	position: relative;
	padding: 10px;
	margin-bottom: 10px;
	color: #cc0000;
	@include box_sizing;
}

#USERS INDEX
ul.users{
	margin: 0;
	padding: 0;
	list-style-type: none;
		
	li{
		padding: 0;
	}
}

.thumbLink, .deleteLink, .pipe{
	color: #3b65a7;
	text-decoration: none;
	font-weight: bold;
	&:hover{
		text-decoration: underline;
	}
	position: relative;
	top: 15px;
	left: 5px;
}

.deleteLink{
	margin-left: 5px;
}

.thumbWrap{
	width: 50px;
	height: 50px;
	margin: 5px 0;
	padding: 5px;
	background-color: #fff;
	@include triple_border;
	float: left;
	border-radius: 3px;
}

.userThumb{
	display: block;
	margin: 0;
	width: 50px;
	height: 50px;
}

.userlink, .deleteLink{
	color: #3b65a7;
}

.deleteWrap{
	float: left;
	position: relative;
	margin: 0;
}

.deleteLink{
	clear: both;
}

.pagination{
	padding: 5px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	a{
		color: #000;
	}
}

