@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin triple_border{
	border: 1px solid;
	border-color: #d7d9dd #d1d3d8 #c3c4c9;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}

@mixin brown_border{
	border: 1px solid;
	border-color: #dfd1b9 #d7c6a7 #d0ba95;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

@mixin border_radius_3x{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.btnSmall{
    color: white;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    background-color: #d90007;
    background: -webkit-linear-gradient(#d90007, #c91400);
    background: linear-gradient(#d90007, #c91400);
    padding: 5px 8px;
    font-size: 12px;
    line-height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
    border: 1px solid #861202;
    font-weight: bold;
    text-align: center;
    -webkit-user-select: none;
	@include border_radius_3x;
}

.loginHead{
	color: #C30C0C;
}

.debug_dump{
	clear: both;
	width: 90%;
	padding: 10px;
	margin: 45px auto;
	@include brown_border;
	color: #A97D5D;
	border-radius: 3px;
	@include box_sizing;
}

.profileContainer{
	width: 90%;
	position: relative;
	margin: 0 auto;
}

.leftCnter{
	float: left;
	width: 25%;
	@include box_sizing;
}

.rightCnter{
	float: left;
	width: 75%;
	padding: 0 20px 10px 20px;
	@include box_sizing;
}

.profilePicWrap{
	width: 200px;
	height: 180px;
	margin: 0 auto;
	padding: 5px;
	@include brown_border;
	background-color: #F6F2EB;
	position: relative;
}

.profilePicBack{
	width: 100%;
	border-right: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
	border-bottom: 0;
	background-color: #FAFAF9;
	@include box_sizing;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 5px;
}

.profilePic{
	display: block;
	position: relative;
	width: 200px;
	height: 180px;
	@include box_sizing;
}

.usernameHead{
	margin: 0;
	color: #C30C0C;
}

/*USER SIGN UP*/

.signUpWrap, .loginWrap, .editWrap, .forgotWrap{
	position: relative;
	width: 300px;
}

.signUpWrap input, .loginWrap input, .editWrap input, .forgotWrap input{
	width: 100%;
	display: block;
    margin: 0 0 5px;
    padding: 5px;
    background: #fafafa;
    background: rgba(250,250,249,0.9);
    border: 1px solid #bbb;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
    font-size: 14px;
    line-height: 1.28571em;
    line-height: 1.29em;
	@include box_sizing
}

#session_remember_me{
 width: auto;
 display: inline;
 line-height: inherit;
 margin-right: 5px;
}

.signUpWrap label, .loginWrap label, .editWrap label, .forgotWrap label{
	font-weight: bold;
}

.signUpWrap .postBtn, .loginWrap .loginBtn, .editWrap .editBtn, .forgotWrap .forgotBtn, .redBtn{
	margin-top: 20px;
	color: white;
    border-color: #861202;
    background: #d90007;
    background: -webkit-linear-gradient(#d90007, #c91400);
    background: linear-gradient(#d90007, #c91400);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.redBtn{
	padding: 5px 35px;
	text-decoration: none;
	border-radius: 5px;
}

.editWrap .editBtn, .forgotWrap .forgotBtn{
	margin-top: 5px;
}

.errorMsgList{
	color: red;
}

.success{
 	width: 90%;
	margin: 0 auto;
	background-color: #DFF0D9;
	border-radius: 3px;
	border: 1px solid #A9EF8F;
	text-align: center;
	position: relative;
	padding: 10px;
	margin-bottom: 10px;
	color: #006e2e;
	@include box_sizing;
}

.danger{
	width: 90%;
	margin: 0 auto;
	background-color: #F6DCDD;
	border-radius: 3px;
	border: 1px solid #cc0000;
	text-align: center;
	position: relative;
	padding: 10px;
	margin-bottom: 10px;
	color: #cc0000;
	@include box_sizing;
}

#USERS INDEX
ul.users{
	margin: 0;
	padding: 0;
	list-style-type: none;
		
	li{
		padding: 0;
	}
}

.thumbLink, .deleteLink, .pipe{
	color: #3b65a7;
	text-decoration: none;
	font-weight: bold;
	&:hover{
		text-decoration: underline;
	}
	position: relative;
	top: 15px;
	left: 5px;
}

.deleteLink{
	margin-left: 5px;
}

.thumbWrap{
	width: 50px;
	height: 50px;
	margin: 5px 0;
	padding: 5px;
	background-color: #F2F0ED;
	@include brown_border;
	float: left;
	border-radius: 3px;
}

.userThumb{
	display: block;
	margin: 0;
	width: 50px;
	height: 50px;
}

.userlink, .deleteLink{
	color: #3b65a7;
	margin-left: 2px;
}

.deleteWrap{
	float: left;
	position: relative;
	margin: 0;
}

.deleteLink{
	clear: both;
}

.pagination{
	padding: 5px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	a{
		color: #000;
	}
}

#user_profile_pic{
	margin-top: 0;
	margin-bottom: 0;
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	background-color: #FAFAF9;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.forgotLnk{
	position: relative;
	top: -1px;
	color: #3B99FC;
}

#logBox, .rateWrap{
	border: 1px solid brown;
	width: 100%;
	margin: 20px 0;
	border-radius: 3px;
	@include brown_border;
	@include box_sizing;
	padding: 10px;
	text-align: center;
}

.rateWrap{
	text-align: none;
}

.question{
  	margin: 0 0 12px 0;
	color: #A97D5D;
	font-size: 14px;
	font-family: georgia, sans-serif;
}
