// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*ICONS*/
	i.fa.fa-industry{
		margin-right: 2px;
		color: #d0ba95;
		font-size: 19px;
	}
	i.fa.fa-hand-o-up, i.fa.fa-pencil{
		color: #3b65a7;
		font-size: 15px;
		margin-right: 2px;
	}

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin brown_border{
	border: 1px solid;
	border-color: #dfd1b9 #d7c6a7 #d0ba95;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

@mixin gray_border{
	border: 1px solid;
	border-color: #d7d9dd #d1d3d8 #c3c4c9;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}

@mixin border_radius_5{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}

@mixin border_radius_3{
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}

#starList{
	height: 37px;
	width: 170px;
	margin: 0;
	padding: 0;
	float: left;
}

#starList li{
	float: left;
	width: 30px;
	height: 37px;
	margin: 0 1px;
}

#starsList li:hover{
	cursor: pointer;
}

.stars-0{
	background: url('stars_big.png') 0 6px no-repeat;
}

.stars-1{
	background: url('stars_big.png') 0 -30px no-repeat;
}

.stars-2{
	background: url('stars_big.png') 0 -66px no-repeat;
}

.stars-3{
	background: url('stars_big.png') 0 -102px no-repeat;
}

.stars-4{
	background: url('stars_big.png') 0 -138px no-repeat;
}

.stars-5{
	background: url('stars_big.png') 0 -174px no-repeat;
}

.rating{
	display: none;
}

.rating-wrap{
	position: relative;
	background-color: #F6F2EB;
	@include box_sizing;
	@include border_radius_5;
	@include brown_border;
	padding: 10px;
}

.stars{
	border-bottom: 1px solid #dfd1b9;
	padding-bottom: 10px;
}

.text-wrap{
	width: 100%;
	margin: 0 auto;
}

#comment{
	width: 100%;
	height: 80px;
	border: none;
	outline: none;
	resize: none;
	@include box_sizing;
	padding: 5px;
	background-color: #F6F2EB;
	font-size: 13px;
}

#mapWrapStore{
	margin: 10px 0;
	border: 1px solid #c7c7c7;
	@include border_radius_3;
	background-color: #ddd;
}

#mapWrapStore div#gmap{
	height: 200px;
	@include border_radius_3;
}

.info-wrap{
	margin-top: 5px;
}

.head-text{
	font-size: 12px;
	color: #A97D5D;
	margin: 1px 0;
	padding: 5px;
	@include box_sizing;
}

.head-text:last-child{
	border-bottom: none;
}

.store-address{
	/*padding-left: 20px;*/
	/*background: url('address-icon.png') 0 45% no-repeat;*/
}

.feedWrap{
	padding-top: 2px;
	margin-top: 10px;
	border-top: 1px solid #dfd1b9;
}

.feedWrap .thumbLink, .feedWrap .userLink{
	top: 5px;
}

.feedLeft{
	float: left;
	width: 40%;
	@include box_sizing;
}

.feedRight{
	float: right;
	width: 60%;
	@include box_sizing;
	padding-left: 5px;
}

.commentText{
	margin: 1px 0;
	position: relative;
	left: 5px;
	padding: 0;
	font-size: 12px;
}

.claimWrap{
	text-align: center;
	margin: 0;
}

.claimLink{
	color: #3b65a7;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.star, .starhead{
	display: inline-block;
	height: 18px;
	padding-left: 90px;
	position: relative;
	top: 5px;
	left: 5px;
}

.starhead{
	top: 0;
	left: 0;
}

.star-5{
	background: url('stars_all.png') 0 -165px no-repeat;
}

.star-4{
	background: url('stars_all.png') 0 -129px no-repeat;
}

.star-3{
	background: url('stars_all.png') 0 -93px no-repeat;
}

.star-2{
	background: url('stars_all.png') 0 -57px no-repeat;
}

.star-1{
	background: url('stars_all.png') 0 -21px no-repeat;
}

.timeWrap{
	margin: 5px 0;
}

.timeLabel{
	display: inline-block;
	width: 100px;
}

.openclose{
	display: inline-block;
	width: 75px;
}

.closed{
	padding-left: 2px;
}

.time-day{
	display: inline-block;
	width: 75px;
}

ul.time-listings{
	background-color: #dfd1b9;
	background-color: #e9d4b3;
	@include box_sizing;
	@include border_radius_3;
	padding: 4px 7px;
	margin: 10px 0;
}

li.time-list{
	color: #A97D5D;
	margin: 3px 0;
}